<a href="https://colab.research.google.com/github/jiyeongii/code_3rdpy/blob/main/CTBA_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두가지 이상의 선택, 다방향 선택구조 코딩
 - 배송료처리 3가지로 작성
 - 변수 : price, 가격 10만원 이상 0원, 2만원이상 3000원, 그외 5000원

In [ ]:
print("배송료를 게산합니다.")                # 배송료 계산을 시작한다는 메시지를 출력합니다.
print("#" * 30)                              # 구분선을 출력합니다.
price = int(input("구입금액 입력: "))        # 사용자로부터 구입금액을 입력받아 price 변수에 저장합니다.
if price >=100000:                           # 구입금액이 10만원 이상인지 판단합니다. 10만원 이상이면 배송료를 0원으로 설정합니다.
  shipping_cost = 0
else:                                        # 구입금액이 2만원 이상 10만원 미만인지 판단합니다. 이 경우 배송료를 3000원으로 설정합니다.
  if price >= 20000:
    shipping_cost = 3000
  else:                                      # 구입금액이 2만원 미만인 경우 배송료를 5000원으로 설정합니다.
    shipping_cost = 5000
print(f'배송료는 {shipping_cost}원 입니다.') # 계산된 배송료를 출력합니다.

배송료를 게산합니다.
##############################
구입금액 입력: 19000
배송료는 5000원 입니다.

2. 환영합니다. 5번 출력,10번 출력,30번 출력

In [ ]:
print("환영합니다.") # "환영합니다." 라는 메시지를 출력합니다.
print("환영합니다.") # "환영합니다." 라는 메시지를 출력합니다.
print("환영합니다.") # "환영합니다." 라는 메시지를 출력합니다.
print("환영합니다.") # "환영합니다." 라는 메시지를 출력합니다.

환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [ ]:
print("환영합니다.\n"* 5) # "환영합니다.\n" 라는 메시지를 5번 반복하여 출력합니다.

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [ ]:
count = 1                               # count 변수를 1로 초기화합니다.
while count <= 5:                       # count 값이 5 이하인 동안 아래의 코드 블록을 반복 실행합니다.
  #print("(", count,")", "환영합니다.")
  print(F'{count})환영합니다.')         # count 값과 "환영합니다." 메시지를 함께 출력합니다. f-string을 이용하여 문자열 내에 변수값을 삽입하였습니다.
  #count = count + 1
  count += 1                            # count 값을 1 증가시킵니다. count += 1 은 count = count + 1 과 동일한 의미입니다.

1)환영합니다.
2)환영합니다.
3)환영합니다.
4)환영합니다.
5)환영합니다.

3. 0부터 9까지 출력하는 코드 작성

In [ ]:
x = 1                 # x 변수를 1로 초기화합니다.
while x < 10:         # x 값이 10 미만인 동안 아래의 코드 블록을 반복 실행합니다.
  print(x, end= ' ')  # x 값을 출력하되, 줄 바꿈 대신 공백(' ')을 뒤에 붙입니다. 이를 통해 숫자들이 한 줄에 출력됩니다.
  x += 1              # x 값에 1을 더합니다.

1 2 3 4 5 6 7 8 9

4. 1부터 10까지 정수의 합을 게산하여 출력하는 코드

In [ ]:
x = 1                 # x 변수를 1로 초기화하고, total 변수를 0으로 초기화합니다.
total = 0
while x <= 10:        # x 값이 10 이하인 동안 아래의 코드 블록을 반복 실행합니다.
  total = total + x   # 현재 x 값을 total에 더합니다.
  x += 1              # x 값을 1 증가시킵니다.
  print(total)        # 현재까지의 누적 합계인 total 값을 출력합니다.

1
3
6
10
15
21
28
36
45
55

In [ ]:
x = 1          # x 변수를 1로 초기화합니다.
while x <= 10: # x 값이 10 이하인 동안 아래의 코드 블록을 반복 실행합니다.
  print(x)     # 현재 x 값을 출력합니다.
  x += 1       # x 값을 1 증가시킵니다.

1
2
3
4
5
6
7
8
9
10

4. 3-6-9 게임: (3의 배수 판단): 3의 배수를 3으로 나누면 나머지가 0이 되므로 (i mod 3)의 값이 0이면 박수를 출력, 아니면 숫자를 출력해주는 코드 작성

In [ ]:
i = 1                     # 변수 i는 0으로 선언
while i <= 30:            # 반복문 while사용해서 i가 30보다 작거나 같을떄
  if i % 3 == 0:          # 만약 i값을 3으로 나눈 나머지가 0이면
    print("박수",end=' ') # 박수를 출력하고 공백을 하나 만듦
  else:                   # 위의 것이 아니면,
   print(i, end=' ')      # i값만 출력하고 공백을 만듦
  i += 1                  # 변수 i값에 i와 1을 더해서 다시 변수 i의 선언

1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20 박수 22 23 박수 25 26 박수 28 29 박수

In [ ]:
for num in range(1, 11):     # 1부터 11까지의 숫자를 반복
  if num % 3 == 0:           # 숫자(num)를 3으로 나눈 나머지가 0인 경우
   print("박수", end=' ')    # 박수를 출력하고 공백 만듦
  else:                      # 그게 아니면
   print(num, end=' ')       # 숫자만 출력하고 공백 만듦

1 2 박수 4 5 박수 7 8 박수 10

6. 팩토리얼 계산하는 코드 작성

In [ ]:
i = int(input("팩토리얼 값입력: ")) # 사용자로부터 팩토리얼을 계산할 숫자를 입력받습니다. 입력받은 값은 정수로 변환됩니다.
factorial = 1                       # 팩토리얼 값을 계산할 변수를 1로 초기화합니다.
while i >= 1:                       # i 값이 1 이상인 동안 아래의 코드 블록을 반복 실행합니다.
  factorial = factorial * i         # 현재 i 값을 factorial에 곱합니다.
  i -= 1                            # i 값을 1 감소시킵니다.
print(factorial)                    # 계산된 팩토리얼 값을 출력합니다.

팩토리얼 값입력: 5
120

In [ ]:
num = int(input("팩토리얼 값입력: "))      # 사용자로부터 팩토리얼을 계산할 숫자를 입력받습니다. 입력받은 값은 정수로 변환됩니다.
factorial = 1                              # 팩토리얼 값을 계산할 변수를 1로 초기화합니다.
while num >= 1:                            # num 값이 1 이상인 동안 아래의 코드 블록을 반복 실행합니다.
  factorial = factorial * num              # 현재 num 값을 factorial에 곱합니다.
  num -= 1                                 # num 값을 1 감소시킵니다.
print("계산된 팩토리얼 값은 :", factorial) # 계산된 팩토리얼 값을 출력합니다. 출력 메시지에는 "계산된 팩토리얼 값은 :"라는 문구가 포함되어 있습니다.

팩토리얼 값입력: 1
계산된 팩토리얼 값은 : 1