<a href="https://colab.research.google.com/github/jiyeongii/code_3rdpy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. To-Do List를 작성하시오.

- 2023년 10월 19일 전지영
- (1) 09:20 도서관에서 책 빌리기
- (2) 11:10 컴퓨팅적 사고와 기초코딩 수업
- (3) 13:00 점심식사
- (4) 14:00 교양수업
- (5) 16:00 파이썬 공부 및 레포트 작성
- (6) 17:40 저녁식사 및 집안일 돕기
- (7) 19:00 LOL하기

In [1]:

print ("To-Do List를 작성하시오.")               # 사용자에게 To-Do List를 작성할 것임을 알립니다.
print("2023년 10월 19일 전지영")                 # To-Do List의 날짜와 주인공을 출력합니다.
print("(1) 09:20 도서관에서 책 빌리기")          # 첫 번째 일정을 출력합니다.
print("(2) 11:10 컴퓨팅적 사고와 기초코딩 수업") # 두 번째 일정을 출력합니다.
print("(3) 13:00 점심시간")                      # 세 번째 일정을 출력합니다.
print("(4) 14:00 교양수업")                      # 네 번째 일정을 출력합니다.
print("(5) 16:00 파이썬 공부 및 레포트 작성")    # 다섯 번째 일정을 출력합니다.
print("(6) 17;40 저녁식사 및 집안일 돕기")       # 여섯 번째 일정을 출력합니다.
print("(7) 19:00 LOL하기")                       # 일곱 번째 일정을 출력합니다.

To-Do List를 작성하시오.
2023년 10월 19일 전지영
(1) 09:20 도서관에서 책 빌리기
(2) 11:10 컴퓨팅적 사고와 기초코딩 수업
(3) 13:00 점심시간
(4) 14:00 교양수업
(5) 16:00 파이썬 공부 및 레포트 작성
(6) 17;40 저녁식사 및 집안일 돕기
(7) 19:00 LOL하기

2. 인사말 출력하기
- 식사 하셨습니까? 행님

In [ ]:
print("식사는 하셨습니까? 행님") # "식사는 하셨습니까? 행님" 이라는 문장을 출력합니다.

식사는 하셨습니까? 행님

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
- 박보검 : 90점
- 션 : 92점
- 도룡용 : 80점
- 차은우 : 99점
- 국어 점수 순위
- 1등 차은우
- 2등: 션
- 3등 : 박보검
- 4등 : 도룡용

In [ ]:
print("학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.") # 사용자에게 학생들의 국어 점수를 입력받을 것임을 알립니다.
n1=(input("박보검의 값을 입력하시오."))                           # 박보검의 국어 점수를 입력받습니다.
n2=(input("션의 값을 입력하시오."))                               # 션의 국어 점수를 입력받습니다.
n3=(input("도룡용의 값을 입력하시오."))                           # 도룡용의 국어 점수를 입력받습니다.
n4=(input("차은우의 값을 입력하시오."))                           # 차은우의 국어 점수를 입력받습니다.
print("1등 차은우",n4,"점")                                       # 차은우의 국어 점수와 순위를 출력합니다.
print("2등 션",n2,"점")                                           # 션의 국어 점수와 순위를 출력합니다.
print("3등 박보검",n1,"점")                                       # 박보검의 국어 점수와 순위를 출력합니다.
print("4등 도룡용",n3,"점")                                       # 도룡용의 국어 점수와 순위를 출력합니다.

학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
박보검의 값을 입력하시오.90
션의 값을 입력하시오.92
도룡용의 값을 입력하시오.80
차은우의 값을 입력하시오.99
1등 차은우 99 점
2등 션 92 점
3등 박보검 90 점
4등 도룡용 80 점

두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [ ]:
n1=int(input("n1의 값을 입력하시오.:"))  # 사용자로부터 첫 번째 정수를 입력받아 n1 변수에 저장합니다.
n2=int(input("n2의 값을 입력하시오.:"))  # 사용자로부터 두 번째 정수를 입력받아 n2 변수에 저장합니다.
total= n1 + n2                           # 두 변수의 합을 total이라는 새로운 변수에 저장합니다.
average = total // 2                     # total 값에 2를 나눈 몫을 average라는 새로운 변수에 저장합니다. 이때 연산자가 '//' 이므로 결과는 소수점 이하를 버린 정수 값이 됩니다.
print(total)                             # 계산된 합계 값을 출력합니다.
print(average)                           # 계산된 평균 값을 출력합니다.

n1의 값을 입력하시오.:90
n2의 값을 입력하시오.:92
182
91